/*! Navbar */

.navbar-nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.navbar-nav li:not(.no-scale) {
  margin-left: 10px;
  margin-top: 50px;
  font-size: 20px;
  padding: 10px;
  border-radius: 20px;
  transition: all 0.2s ease;
}
.nav-item button {
  border: none;
  background: none;
  font-weight: bold;
}
#notify {
  margin-bottom: 20%;
  position: absolute;
  bottom: -35%;
  width: 100%;
}
.navbar-nav li:hover:not(.no-scale) {
  transform: scale(1.02);
  cursor: pointer;
  background-color: rgb(230, 230, 230);
}
.navbar {
  border-radius: 20px;
  margin-top: 15px;
  position: relative;
}
#selected a {
  color: white !important;
}
#selected {
  background-color: black !important;
  width: 95%;
}
.navbar-nav {
  width: 100%;
}
#Logo {
  text-align: center;
  margin-bottom: 10%;
  margin-top: 10%;
}
.profile {
  background-color: rgb(230, 230, 230);
  padding: 5%;
  border-radius: 20px;
  position: absolute;
  bottom: -65%;
}
.profile h1 {
  font-weight: bold;
  text-align: center;
}
.info-user {
  margin-top: 1%;
  display: flex;
  gap: 4%;
  align-items: flex-end;
}
.info-user img {
  border-radius: 360px;
  width: 10%;
}
.info-user h4,
p {
  font-weight: bold;
}
.status {
  margin-top: 4%;
}

.navbar-nav li a {
  display: block;
  width: 100%;
  height: 100%;
}

/*TODO Notify */
.notify-gui {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  z-index: 2;
}
.notify-gui.show {
  opacity: 1;
  pointer-events: auto;
}
.notify-panel {
  background-color: rgb(230, 230, 230);
  padding: 1%;
  border-radius: 20px;
  width: 40%;
  height: 50vh;
}
.notify-title h3 {
  text-align: center;
  font-weight: bold;
  margin-top: 2%;
  margin-bottom: 5%;
}
.notify-item {
  display: inline-block;
  width: fit-content;
  max-width: 100%;
  background: white;
  padding: 8px 12px;
  border-radius: 15px;
  margin-bottom: 8px;
  word-wrap: break-word;
}
.notify-item p {
  font-weight: bold;
}
.notify-list {
  display: flex;
  flex-direction: column;
}

/*! Group */
.group-title h2 {
  font-weight: bold;
  margin-top: 2%;
}
.group-item {
  background-color: rgb(230, 230, 230);
  padding: 1%;
  border-radius: 20px;
  display: flex;
  margin-top: 2%;
  width: fit-content;
}

.group-img img {
  width: 75px;
}
.group-name h4 {
  font-weight: bold;
}
.group-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
/*! Suggest */
.suggest-avatar img {
  width: 200px;
}
.suggest-avatar {
  display: flex;
  justify-content: center;
}
.suggest-item {
  border-radius: 20px;
  padding: 1%;
  background-color: rgb(230, 230, 230);
  display: flex;
  width: fit-content;
  flex-direction: column;
}
.suggest-join button {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 5%;
  border-radius: 20px;
  outline: none;
  border: none;
  width: 100%;
  text-align: center;
  transition: all 0.2s ease;
}
.suggest-join button:hover {
  transform: scale(1.06);
}
.suggest-join h4 {
  word-wrap: break-word;
  max-width: 200px;
  margin-top: 2%;
  font-weight: bold;
  text-align: center;
  margin-bottom: 7%;
}
.suggest-group-title h2 {
  font-weight: bold;
  margin-top: 5%;
}
.suggest-group {
  display: flex;
  gap: 1%;
}
html,
body {
  overflow: hidden;
}
.col-6 {
  height: 100vh;
  overflow-y: auto;
  padding-bottom: 30px;
  scrollbar-width: thin;
}
/*TODO Create */
.create-title h2 {
  font-weight: bold;
  margin-top: 10%;
  margin-bottom: 10%;
}
.input input {
  border: 1px solid rgb(230, 230, 230);
  outline: none;
  padding: 4%;
  margin-bottom: 5%;
  width: 100%;
  border-radius: 15px;
  font-size: 18px;
}
.create-btn button {
  background-color: black;
  color: white;
  border: none;
  outline: none;
  width: 100%;
  padding: 5%;
  border-radius: 20px;
  font-weight: bold;
  font-size: 18px;
  margin-top: 8%;
  transition: all 0.2s ease;
}
.create-btn button:hover {
  transform: scale(1.05);
}
/*TODO Error */
.error-gui {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  z-index: 2;
}
.error-gui.show {
  opacity: 1;
  pointer-events: auto;
}
.error-panel {
  background-color: rgb(230, 230, 230);
  padding: 1%;
  border-radius: 20px;
  width: 30%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.error-icon img {
  width: 50px;
}
.error-icon h1 {
  text-align: center;
  font-weight: bold;
}
.error-info h2 {
  font-weight: bold;
  text-align: center;
}
/*TODO Successful */
.success-gui {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  z-index: 2;
}
.success-gui.show {
  opacity: 1;
  pointer-events: auto;
}
.success-panel {
  background-color: rgb(230, 230, 230);
  padding: 1%;
  border-radius: 20px;
  width: 30%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.success-icon img {
  width: 50px;
}
.success-icon h1 {
  text-align: center;
  font-weight: bold;
}
.success-info h2 {
  font-weight: bold;
  text-align: center;
}
