html,
body {
  height: 100%;
  overflow: hidden;
}
.col-6 {
  height: 100vh;
  overflow-y: auto;
  padding-bottom: 30px;
  scrollbar-width: thin;
}
/*! Navbar */

.navbar-nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.navbar-nav li:not(.no-scale) {
  margin-left: 10px;
  margin-top: 50px;
  font-size: 20px;
  padding: 10px;
  border-radius: 20px;
  transition: all 0.2s ease;
}
.nav-item button {
  border: none;
  background: none;
  font-weight: bold;
}
#notify {
  margin-bottom: 20%;
  position: absolute;
  bottom: -35%;
  width: 100%;
}
.navbar-nav li:hover:not(.no-scale) {
  transform: scale(1.02);
  cursor: pointer;
  background-color: rgb(230, 230, 230);
}
.navbar {
  border-radius: 20px;
  margin-top: 15px;
  position: relative;
}
#selected a {
  color: white !important;
}
#selected {
  background-color: black !important;
  width: 95%;
}
.navbar-nav {
  width: 100%;
}
#Logo {
  text-align: center;
  margin-bottom: 10%;
  margin-top: 10%;
}
.profile {
  background-color: rgb(230, 230, 230);
  padding: 5%;
  border-radius: 20px;
  position: absolute;
  bottom: -65%;
}
.profile h1 {
  font-weight: bold;
  text-align: center;
}
.info-user {
  margin-top: 1%;
  display: flex;
  gap: 4%;
  align-items: flex-end;
}
.info-user img {
  border-radius: 360px;
  width: 10%;
}
.info-user h4,
p {
  font-weight: bold;
}
.status {
  margin-top: 4%;
}
.navbar-nav li a {
  display: block;
  width: 100%;
  height: 100%;
}
/*! Feeds */
.title {
  margin-top: 10%;
  font-weight: bold;
}
.post {
  background-color: #b4ceff;
  padding: 20px;
  border-radius: 20px;
  margin-top: 5%;
  width: 100%;
  position: relative;
  margin-bottom: 10%;
}
.post-time {
  color: gray;
  font-size: 13px;
}
.post-username {
  font-size: 20px;
}
.post-text {
  font-size: 22px;
}
.post-time,
.post-username,
.post-text,
.action {
  font-weight: bold;
}
.post-avatar {
  width: 5%;
  border-radius: 20px;
}
.post-image img {
  margin-top: 5px;
  width: 100%;
  border-radius: 20px;
  max-height: 500px;
  object-fit: cover;
  object-position: center;
}
.post-bottom {
  margin-top: 20px;
  display: flex;
  gap: 3%;
}
.action {
  font-size: 15px;
}
.action button {
  background: none;
  border: none;
  transition: all 0.2s ease;
}
.action button:hover {
  transform: scale(1.2);
}
.reaction {
  background-color: rgb(255, 117, 142);
  border-radius: 20px;
  display: flex;
  padding: 5px;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 15px;
  position: absolute;
  right: 0;
  margin-right: 2%;
}
.reaction button {
  background: none;
  border: none;
  transition: all 0.2s ease;
}
.reaction button:hover {
  transform: scale(1.6);
}
.top-prepare img {
  width: 5%;
  border-radius: 300px;
}
.top-prepare {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.editor {
  background-color: white;
  width: 85%;
  border-radius: 10px;
  margin-left: 5px;
  border: 1px solid rgb(210, 210, 210);
  outline: none;
}
.prepare-post {
  background-color: rgb(230, 230, 230);
  border-radius: 20px;
  padding: 25px;
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 900px;
  z-index: 1;
}
.bottom-prepare button {
  background: none;
  border: none;
  transition: all 0.2s ease;
}
.bottom-prepare button:hover:not(#send) {
  transform: scale(1.2);
}
.bottom-prepare {
  margin-top: 3%;
  display: flex;
  gap: 2%;
  width: 100%;
}
.send {
  border-radius: 15px;
  padding: 5px;
  background-color: black;
  position: absolute;
  right: 0;
  margin-right: 3%;
  transition: all 0.2s ease;
}
.send:hover {
  transform: scale(1.1);
}
.send button {
  font-weight: bold;
  color: white;
}
.like-btn {
  color: black;
  transition: 0.2s;
}

.like-btn.liked {
  color: hotpink;
}

.minimize {
  background-color: black;
  color: white;
  border-radius: 20px;
  transition: all 0.2s ease;
}

.minimize:hover {
  transform: scale(1.2);
}

.prepare-post.minimized {
  bottom: -8%;
}

.link {
  font-size: 22px;
  color: rgb(3, 41, 255);
}
/*TODO Comment  */

.comment-gui {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  z-index: 2;
}

.comment-gui.show {
  opacity: 1;
  pointer-events: auto;
}

.comment-panel {
  background-color: rgb(230, 230, 230);
  padding: 1%;
  border-radius: 20px;
  width: 40%;
}
.comment-content {
  background-color: white;
  border-radius: 15px;
  padding: 6px 20px;
  display: inline-block;
  max-width: 100%;
  word-wrap: break-word;
}
.comment-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.comment-item h5 {
  font-weight: bold;
}
.comment-item img {
  width: 30px;
  border-radius: 360px;
}

.comment-panel-title h3 {
  font-weight: bold;
  margin-bottom: 7%;
}

/*! Right */

.story-title {
  margin-top: 20%;
  font-weight: bold;
}

.story-post {
  display: flex;
  gap: 15px;
}

.top-story {
  position: relative;
  width: 50%;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease;
}

.story-post:hover .top-story:hover {
  transform: scale(1.05);
}

.top-story img {
  width: 100%;
  height: 100%;
}

.bottom-story {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  background-color: white;
  border-radius: 20px;
  padding: 4px 8px;
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
}

.bottom-story img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.suggestions-title {
  margin-top: 5%;
  font-weight: bold;
}
.suggest-user {
  background-color: rgb(230, 230, 230);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 6px 10px;
  margin-bottom: 4%;
}

.suggest-name {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;
  border-radius: 15px;
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.suggest-name img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.follow-btn button {
  background-color: black;
  color: white;
  padding: 6px 12px;
  border-radius: 15px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
.follow-btn button:hover {
  transform: scale(1.1);
}
/*TODO Notify */
.notify-gui {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  z-index: 2;
}
.notify-gui.show {
  opacity: 1;
  pointer-events: auto;
}
.notify-panel {
  background-color: rgb(230, 230, 230);
  padding: 1%;
  border-radius: 20px;
  width: 40%;
  height: 50vh;
}
.notify-title h3 {
  text-align: center;
  font-weight: bold;
  margin-top: 2%;
  margin-bottom: 5%;
}
.notify-item {
  display: inline-block;
  width: fit-content;
  max-width: 100%;
  background: white;
  padding: 8px 12px;
  border-radius: 15px;
  margin-bottom: 8px;
  word-wrap: break-word;
}
.notify-item p {
  font-weight: bold;
}
.notify-list {
  display: flex;
  flex-direction: column;
}
